body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #eff1f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  background-color:#ef5350;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  min-height: 3.125rem;
}

.header-pic{
  width: 150px;
  margin: 5px;
}
.label{
  font-size: 2rem;
  font-weight: 700;
  margin: .5em;
}
.list-entry{
  border-bottom: 1px solid rgb(134, 134, 134);
  cursor: pointer;
}

.pre-loader {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre-loader img {
  height: 80px;
}

.animated-background {
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  position: relative;
}
.states{
  padding: 2px 15px;
  flex-direction: column;
}

.pokemon-pic{
  margin-left: auto;
margin-right: auto;
width: 50%;
}

.pokemon-name{
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.evolution-button{
  background-color: #ef5350;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}
.evolution-button:hover{
  background-color: #f09d9c;

}